<% var title='Profile Page' %>
    <% var page='Profile' %>
        <% var body=false %>
            <% include ../layouts/master %>
                <% include ../partials/header%>
                    <div class="main-content">
                        <section class="section">
                            <div class="section-header">
                                <h1>Profile</h1>
                                <div class="section-header-breadcrumb">
                                    <div class="breadcrumb-item active"><a href="/dashboardAdminLogin">Dashboard</a>
                                    </div>
                                    <div class="breadcrumb-item">Profile</div>
                                </div>
                            </div>
                            <% if(successmessage !='' ){%>
                                <div class="alert alert-success alert-dismissible show fade successmessage">
                                    <div class="alert-body">
                                        <button class="close" data-dismiss="alert">
                                            <span>&times;</span>
                                        </button>
                                        <%= successmessage %>
                                    </div>
                                </div>
                                <% } %>
                                <% if(errmessage !='' ){%>
                                    <div class="alert alert-danger alert-dismissible show fade errmessage">
                                        <div class="alert-body">
                                            <button class="close" data-dismiss="alert">
                                                <span>&times;</span>
                                            </button>
                                            <%= errmessage %>
                                        </div>
                                    </div>
                                    <% } %>
                                    <div class="section-body">
                                        <h2 class="section-title">Hi, <%= user._doc.username %>
                                        </h2>
                                        <p class="section-lead">
                                            Change information about yourself on this page.
                                        </p>
                                        <p class="section-lead">
                                            Email: <%=user._doc.email%>
                                        </p>
                                        <div class="row mt-sm-4">
                                            <div class="col-12 col-md-12 col-lg-5">
                                                <div class="card profile-widget">
                                                    <div class="profile-widget-header">
                                                        <img alt="image" src="<%= user._doc.file%>"
                                                            class="rounded-circle profile-widget-picture" height="100px !important"/>
                                                    </div>
                                                    <div class="profile-widget-description">
                                                        <div class="profile-widget-name">
                                                            <%= user._doc.username %>
                                                                <div class="text-muted d-inline font-weight-normal">
                                                                    <div class="slash"></div>Admin
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-12 col-lg-7">
                                                <div class="card">
                                                    <form method="POST" action="/updateAdminProfile"
                                                        class="needs-validation" novalidate=""
                                                        enctype="multipart/form-data">
                                                        <div class="card-header">
                                                            <h4>Edit Profile</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="form-group col-md-12 col-12">
                                                                    <label>Name</label>
                                                                    <input type="text" class="form-control" required=""
                                                                        value="<%= user._doc.username %>"
                                                                        placeholder="Enter your Name" name="uname">
                                                                    <div class="invalid-feedback">
                                                                        Please fill in the name
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12 col-12">
                                                                    <label>Profile Pic</label>
                                                                    <input type="file" name="image"
                                                                        class="form-control" />
                                                                    <input type="hidden" value="<%=user._doc.file%>"
                                                                        name="oldfile" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer text-right">
                                                            <button class="btn btn-primary">Save Changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </section>
                    </div>
                    <% include ../partials/footer%>